<!--view-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    {{# customer}}
        <div>
            <h1>{{id}}</h1>
            <h2>{{name}}</h2>
            <h3>{{phone}}</h3>
            <h3>{{memo}}</h3>
            <h3>{{createdAt}}</h3>
        </div>
    {{/customer}}
</body>
</html>